.wrapper #slider-img-1{
    background-image:url(../images/dkkv.png);
    background-position: center;
}

.wrapper #slider-img-2{
    background-image:url(../images/fhj.png);
    background-position: center;
}

.wrapper #slider-img-3{
    background-image:url(../images/dkkv.png);
    background-position: center;
}

.wrapper #slider-img-4{
    background-image:url(../images/dkkv.png);
    background-position: center;
}

.wrapper #slider-img-5{
    background-image:url(../images/dkkv.png);
    background-position: center;
}